  /* . =>  to select class           */
    /*   # =>  to select id           */

    .info{
      border: 2px dashed brown;
      /* top-bottom left-right */
      /* margin: 20px 100px;   */
      /* all four sides */
      /* margin: 30px; */
      /* top right bottom left */
      /* margin: 10px 20px 30px 40px; */
    }

    .btn{
      background-color: steelblue;
      color: white;
      margin: 20px 0;
    }